@import "weather-icons.css";
@import "main.css";

$animationTime: 1s;

#slideShowContainer img {
	display: block;

	-webkit-animation: fadeInFromNone $animationTime ease-out;
	-moz-animation: fadeInFromNone $animationTime ease-out;
	-o-animation: fadeInFromNone $animationTime ease-out;
	animation: fadeInFromNone $animationTime ease-out;
}

@mixin fadeInAnimation {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-webkit-keyframes fadeInFromNone {
	@include fadeInAnimation;
}

@-moz-keyframes fadeInFromNone {
	@include fadeInAnimation;
}

@-o-keyframes fadeInFromNone {
	@include fadeInAnimation;
}

@keyframes fadeInFromNone {
	@include fadeInAnimation;
}